*{
	@import url('https://fonts.googleapis.com/css?family=Ubuntu');
	margin: 0px;
	box-sizing: border-box;
	padding: 0px;
	font-family: sans-serif;
}

body{
	background-image: url(../img/matrix-2326147_1920.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

header{
	background-color: rgba(2, 111, 226,0.8);
	height: 60px;
	width: 100%;
}

header .col1{
	width: 20%;
	height: 100%;
	float: left;
	padding: 0.5em;
}

header .col1 img{
	width: 4em;
	height: 2.7em;
	float: left;
}

header .col1 h1{
	float: left;
	color: #fff;
}

header .col2{
	width: 60%;
	height: 100%;
	float: left;
	padding: 0.5em;

	text-align: center;
	color: #fff;
}

header .col3{
	width: 20%;
	height: 100%;
	float: left;
	padding: 0.6em;


	text-align: center;
}

header .col3 button{
	width: 100%;
	height: 100%;
	background-color: rgb(88, 214, 141);
	border-radius: 5px;
	border: none;

	color: #fff;

}

header .col3 button:hover {
	background-color: rgba(88, 214, 141,0.5);
}

section{
	height: 28.5em;
}
	
.cols{
	width: 30%;
	height: 100%;
	float: left;
}

.login-box{
	display: none;
	width: 40%;
	height: 100%;
	float: left;
	padding: 3em;
}

.login{
	border-radius: 1em;
	background-color: rgba(242, 243, 244, .6);
	height: 100%;
	padding: 5em 3em 0 3em;
}

.login img{
	width: 8em;
	height: 8em;
	border-radius: 50%;
	position: absolute;
	top:4em;
	left: 38.5em;
	opacity: .9;
}

.login h1{
	margin: 0;
	padding: 0.5em 0 1.5em;
	text-align: center;
}

.login label{
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}

.login input{
	width: 100%;
	margin-bottom: 0.5em;
	
}

.login input[type="text"],
.login input[type="password"]{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	height: 2em;

	color: black;
	text-align: center;
	font-weight: bold;
}

.login input[type="submit"]{
	border: none;
	border-radius: 1.5em;
	outline: none;
	height: 2.5em;
	margin: 0.5em 0 0.5em 0;
	background-color: rgba(230, 50, 50, 1);

	color: white;
}

.login input[type="submit"]:hover{
	background-color: rgba(230, 0, 0, 0.5) ;
}

.login a{
	text-decoration: none;
}

.login a:hover{
	color: red;
}

footer{
	padding: 2em;
	background-color: rgba(2, 111, 226,0.8);
	height: 60px;
	width: 100%;
	position: fixed;
	bottom: 0;

	text-align: center;
}

footer h3{
	color: white;
}