*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.border{
	border:1px solid black;
}

body{
	background-image: url(../../img/matrix-2326147_1920.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

header{
	background-color: #333;
	opacity: 0.9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: white;
}

header .col1 img{
	width: 25px;
	height: 20px;
	display: inline-block;
}

header .col1 h3{
	display: inline-block;
}

header .col3 button{
	background-color: rgba(88, 214, 141,1);
	border-radius: 5px;
	padding: 0.5em;
	border: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	cursor:pointer;
}

section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

.login{
	background-color: rgba(153, 163, 164,0.7);
	width: 320px;
	height: 420px;
	top: 50%;
	box-sizing: border-box;
	padding: 70px 30px;
	margin-top: 70px;
	display: none;
}

.login .imagen{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: 80px;
	left: calc(52.5% - 80px);
}

.login h1{
	text-align: center;
	font-size: 32px;

}

.login label{
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}

.login input{
	width: 100%;
	margin-bottom: 20px;
	color: white;
}

.login input[type="text"], .login input[type="password"]{
	border:none;
	border-bottom: 1px solid black;
	background: transparent;
	text-align: center;
	height: 40px;
	font-size: 1em;
}

.login input[type="submit"]{
	border:none;
	height: 40px;
	background-color: rgba(	184, 15, 34, 1);
	color: white;
	font-size: 1em;
	border-radius: 50px;
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	background-color: #333;
	opacity: 0.9;
	position: fixed;
	bottom: 0;
	text-align: center;
	color: white;
}